/* Defining Root Variables */
:root {
    --tangerine: #FFB711;
    --tangerine2: #FF9814;
    --grandis: #FFDA6C;
    --nero: #1A1717;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: Aeonik;
    src: url("../fonts/Aeonik-Font/Aeonik-Regular.otf");
}

html,
body {
    font-family: Aeonik, sans-serif;
}