/* Defining Root Variables */
:root {
  --tangerine: #ffb711;
  --tangerine2: #ff9814;
  --grandis: #ffda6c;
  --nero: #1a1717;
  --salomie: #ffdc73;
  --supernova: #ffd98e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
  background-color: var(--nero);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 20px;
  background-color: var(--tangerine);
}

p {
  text-align: justify;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Font/Aeonik-Regular.otf");
}

@font-face {
  font-family: Aeonik-Light;
  src: url("../assets/fonts/Aeonik-Font/Aeonik-Light.otf");
}

@font-face {
  font-family: Aeonik-LightItalic;
  src: url("../assets/fonts/Aeonik-Font/Aeonik-LightItalic.otf");
}

p {
  font-family: Aeonik-Light, sans-serif;
}

html,
body {
  font-family: Aeonik, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  overflow: hidden;
}

nav {
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nexa-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link-wrapper {
  width: 150px;
  height: 40.598px;
  background-image: url("../assets/logos/primary.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}

.logo-link-wrapper a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  transition: 0.2s linear;
}

.nav-link a:hover {
  color: var(--grandis);
}

.donate {
  padding: 16px 32px;
  background-color: var(--tangerine);
  border-radius: 12px;
  transition: 0.2s linear;
  border: 2px solid var(--tangerine);
}

.donate:hover {
  background-color: transparent;
}

.donate a {
  font-size: 16px;
}

.donate:hover a {
  color: var(--grandis);
}

.menu-icon {
  display: none;
}

.close-icon {
  display: none;
}

/* header */
header {
  min-height: 70vh;
  width: 90%;
  margin: 50px auto;
}

.header-text {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 500;
}

.header-text span {
  color: var(--tangerine2);
  border-bottom: 3px solid var(--tangerine2);
  padding-bottom: 5px;
}

.donate-now {
  max-width: 175px;
  padding: 16px 32px;
  background-color: var(--tangerine);
  border-radius: 12px;
  transition: 0.2s linear;
  border: 2px solid var(--tangerine);
  text-align: center;
  margin: 40px auto;
}

.donate-now:hover {
  background-color: transparent;
}

.donate-now a {
  font-size: 16px;
  text-transform: capitalize;
}

.donate-now:hover a {
  color: var(--grandis);
}

.youtube-video {
  max-width: fit-content;
  max-width: -moz-fit-content;
  width: 100%;
  margin: 50px auto;
  border-top: 10px solid var(--grandis);
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}

/* end of header */

/* programs */
.laptop-programs-wrapper {
  width: 100%;
  background-color: #fff1c9;
  padding: 80px 0;
}

.programs {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.cards {
  background-color: #ffba307f;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  box-shadow: 10px 10px 5px 0 #ffba30b2;
}

.cards p {
  text-align: justify;
  line-height: 1.5;
}

.line {
  max-width: 50px;
  border: 3px solid #c90094;
  margin: 10px 0 15px;
}

.line-2 {
  border: 3px solid #f60;
}

.line-3 {
  border: 3px solid #00c0c0;
}

.fundraising-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fundraising-section article {
  background-color: var(--nero);
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fundraising-section figure {
  width: 100%;
  height: 450px;
}

.fundraising-section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fundraising-heading {
  max-width: 500px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}

.fundraising-section p {
  max-width: 500px;
  line-height: 1.5;
  font-weight: 200;
  text-align: justify;
}

.empower-techie {
  margin: 30px 0 0;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.proofs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.proofs h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--nero);
  margin-bottom: 50px;
}

.proof2 {
  margin-top: 25px;
}

.proofs_images {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nero);
}

.cta img {
  max-height: 600px;
  min-width: 40%;
}

.cta_join {
  color: white;
  height: 100%;
  padding: 0px 50px;
  max-height: 600px;
}

.cta_join h2 {
  max-width: 500px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 36px;
  /* font-size: 48px;
  font-weight: 500; */
  color: white;
  margin-bottom: 20px;
}

.cta_join p {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
  line-height: 44px;
}

.cta button {
  background-color: var(--tangerine2);
  padding: 16px 32px;
  border-radius: 12px;
  color: var(--nero);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--tangerine);
}

.mission_container {
  padding: 100px 10vw;
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: #fff1c9;
}

@media screen and (min-width: 992px) and (max-width: 1450px) {
  .mission_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 40px;
  background: #ffba307f;
  border-radius: 12px;
  /* height: fit-content; */
  box-shadow: 10px 10px 5px 0 #ffba30b2;
  -webkit-box-shadow: 10px 10px 5px 0 #ffba30b2;
  border: 0;
}

.mission h1 {
  font-size: 36px;
  font-weight: 500;
  color: var(--nero);
  margin-bottom: 20px;
}

.mission p {
  font-size: 16px;
  line-height: 22px;
  max-width: 500px;
  font-weight: 300;
}

.mission p a {
  color: var(--tangerine2);
  border-bottom: 1px solid var(--tangerine2);
  padding-bottom: 3px;
  font-family: Aeonik-LightItalic, sans-serif;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  margin-top: 50px;
}

.partners h2 {
  font-size: 48px;
  font-weight: 500;
  color: var(--nero);
  margin-bottom: 50px;
}

.partners_logos {
  display: flex;
  gap: 20px;
}

.partners_logos img {
  width: 150px;
  height: 110px;
}

.partners p {
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin-top: 20px;
  max-width: 300px;
}

.partners p a {
  color: var(--tangerine2);
  border-bottom: 3px solid var(--tangerine2);
  padding-bottom: 5px;
  font-family: Aeonik-LightItalic, sans-serif;
}

footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
}

.footer_logo {
  width: 150px;
  height: 36px;
}

.footer_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
  margin-right: 50px;
}

.footer_icons img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .menu-icon {
    display: block;
    font-size: 24px;
  }

  .navigation {
    position: fixed;
    background-color: var(--grandis);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    transform: translateX(1000px);
    transition: 0.5s ease-in;
    z-index: 2;
  }

  .mission_container {
    flex-direction: column;
  }

  .show-nav {
    transform: translateX(0);
    box-shadow: 0 0 6px 9999px rgba(0, 0, 0, 0.7);
  }

  .nexa-logo-wrapper {
    width: 100%;
  }

  .nexa-logo-wrapper button {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .nav-menu {
    display: block;
    text-align: left;
    margin-top: 60px;
  }

  .nav-link {
    margin-bottom: 40px;
  }

  .donate {
    max-width: 200px;
    width: 100%;
    text-align: center;
  }

  .close-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    width: 150px;
    height: 40px;
    background-image: url("../assets/logos/primary.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .close-icon button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 540px) {
  .navigation {
    max-width: 300px;
    width: 100%;
  }

  .logo-link {
    opacity: 0;
  }

  .programs {
    max-width: 450px;
  }
}

@media only screen and (max-width: 770px) and (min-width: 441px) {
  .cta {
    flex-direction: column;
  }

  .cta img {
    width: 100vw;
    height: 300px;
    max-height: none;
    object-fit: cover;
  }
}

@media only screen and (max-width: 999px) and (min-width: 771px) {
  .cta {
    height: fit-content;
    min-height: 700px;
  }

  .cta img {
    height: 700px;
    width: 100%;
    object-fit: cover;
    max-height: none;
    max-width: 40%;
  }

  .cta_join {
    padding: 50px;
    max-height: none;
    height: 700px;
  }
}

@media only screen and (min-width: 768px) {
  .logo-link-wrapper {
    width: 123px;
    height: 30px;
  }

  .header-text {
    font-size: 48px;
  }

  .fundraising-section {
    flex-direction: row;
  }

  .fundraising-section article {
    width: 45%;
  }

  .fundraising-section figure {
    width: 55%;
    height: auto;
  }
}

/* Responsiveness */
@media screen and (max-width: 440px) {
  .proofs {
    padding: 50px;
  }
  .proofs h2 {
    font-size: 36px;
  }

  .proofs_images {
    flex-direction: column;
    gap: 20px;
  }

  .proof2 {
    margin-top: 0px;
  }

  .proofs_images img {
    width: 100%;
    height: auto;
  }

  .cta {
    flex-direction: column;
  }

  .cta img {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .cta_join {
    padding: 50px;
    max-height: none;
  }

  .cta_join h2 {
    font-size: 36px;
  }

  .cta_join p {
    font-size: 18px;
    line-height: 32px;
  }

  .partners h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .partners_logos {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  /* .partners_logos img {
    width: 40%;
    height: auto;
  } */

  footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }

  .footer_icons {
    margin-right: 0px;
    width: 100%;
    justify-content: center;
  }
}

/* Responsiveness for tablet */
@media screen and (min-width: 441px) and (max-width: 1000px) {
  .proofs {
    padding: 50px;
  }
  .proofs h2 {
    font-size: 36px;
  }

  .proofs_images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }

  .proof2 {
    margin-top: 0px;
  }

  .proofs_images img {
    width: 100%;
    height: auto;
  }

  .cta {
    background-color: #f2f3f5;
  }

  .cta_join {
    padding: 50px;
    background-color: var(--nero);
  }

  .cta_join h2 {
    font-size: 36px;
  }

  .cta_join p {
    font-size: 18px;
    line-height: 32px;
  }

  .partners h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .partners_logos {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  /* .partners_logos img {
    width: 40%;
    height: auto;
  } */

  footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }

  .footer_icons {
    margin-right: 0px;
    width: 100%;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  header {
    margin: 80px auto;
  }

  .youtube-video {
    margin: 70px auto;
  }

  .fundraising-section figure {
    height: 610px;
  }

  .programs {
    flex-direction: row;
    width: 90%;
  }
}
